name: Build and deploy Node.js app to Azure Web App - dotation

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: npm install and build
        run: |
          npm install
          npm run build --if-present
          
      # ÉTAPE CRUCIALE : Préparer le dossier standalone
      # On copie les fichiers statiques (images, css, js) au bon endroit pour qu'ils soient servis par le serveur node
      - name: Prepare standalone build
        run: |
          cp -r .next/static .next/standalone/.next/static
          cp -r public .next/standalone/public

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          include-hidden-files: true
          path: |
            .
            !**/.git
            !**/.github
            !**/.env*
            
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_2C90F4B4D80845B38D931B5328250C1E }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_2E816E06A6B04E2DB627253BD847E36E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_0EAE771628EB40659E6A789BFD19B178 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'dotation'
          slot-name: 'Production'
          package: .
